
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

#navbar
{
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #7d8383;
    display: grid;
    place-items: center;
}
#navbar ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#navbar ul li
{
    font-size: 20px;
    margin: 0 45px;
}
#navbar ul li a
{
    text-decoration: none;
    color: #000;
}
#navbar ul li a:hover
{
    color: #165397;
}

#navbar ul #login
{
    height: 50px;
    width: 120px;
    position: absolute;
    top: 20px;
    right: 7%;
    display: grid;
    place-items: center;
    background: #165397;
    border-radius: 10px 20px;
}
#navbar ul #login a
{
    color: #e9e9eb;
}
#navbar ul #login:hover
{
    background: #000;
}
body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #165397; 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #165397; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color:#165397; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #165397; 
  border-color:#165397; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #165397; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #165397;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}
